#container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    background-color: lightgrey;
}

.sneak-1 {
    display: grid;
    background-color: #1d2124;
    z-index: 10;
}

.point {
    background-color: greenyellow;
    z-index: 20;
}